<div class="jumbotron">
<h1>Contact List</h1>
<p>
Você no controle dos seus contatos com essa aplicação RoR!
</p>
    <p>
     <%= link_to 'Crie Sua Conta', new_user_path, class: 'btn btn-primary btn-lg' %>
    </p>

</div>